.bookmarkContainer {
  background-color: tan;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.1rem;
  border: 8px solid black;
  border-style: inset;

  .titleWithIcon {
    display: flex;
    align-items: left;
    justify-content: left; 
  }

  .bookmarkIcon {
    width: 35px; 
    height: 35px;
  }

  .button {
    background-color: black;
    color: tan;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem;
    font-size: 1rem;

    &:hover {
      background-color: darken(#4d4319, 10%);
    }
  }

  .input {
    padding: 0.5rem;
    margin-bottom: 0.5rem; 
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 1rem); 
  }
}